.head {
    position: absolute;
    z-index: 1;
    top: 7%;
    left: 10%;
    transform: translate(0, -50%);
    letter-spacing: 1vmin;
    font-family: 'Londrina Shadow', cursive;
    animation: tracking-in-expand .9s cubic-bezier(0.215, 0.610, 0.855, 3.000) both;
    color: white;
    width: 50vh;
   
    
}
  
  
  