.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  /* font-weight: bold; */
}
/* 
.menuNav li:first-child {
  margin-top: 7rem;
} */
